.contain
{
    border-radius: 30px;
    border:2px solid purple;
    background-color: rgb(226, 186, 241);
    margin: 100px 200px;
}

p
{
    text-align: center;

}

.i
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2
{
    text-align: center;
    color: #460c46;
}